doctype html
// saved from url=(0038)http://demo.themeboy.com/footballclub/
html(lang='en-CA')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(charset='UTF-8')
    title Football Club - Official SportsPress Theme
    link(rel='profile', href='http://gmpg.org/xfn/11')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    link(rel='pingback', href='http://demo.themeboy.com/footballclub/xmlrpc.php')
    link(rel='shortcut icon', href='http://demo.themeboy.com/footballclub/wp-content/themes/footballclub/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='http://demo.themeboy.com/footballclub/wp-content/themes/footballclub/images/favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    script#twitter-wjs(src='./Football Club - Official SportsPress Theme_files/widgets.js')
    script#facebook-jssdk(src='./Football Club - Official SportsPress Theme_files/all.js')
    script(type='text/javascript', async='', src='./Football Club - Official SportsPress Theme_files/ga.js')
    script(type='text/javascript').
    link(rel='alternate', type='application/rss+xml', title='Football Club » Feed', href='http://demo.themeboy.com/footballclub/feed/')
    link(rel='alternate', type='application/rss+xml', title='Football Club » Comments Feed', href='http://demo.themeboy.com/footballclub/comments/feed/')
    script(type='text/javascript').
      //<![CDATA[
      // Google Analytics for WordPress by Yoast v4.3.5 | http://yoast.com/wordpress/google-analytics/
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18233919-16']);
      _gaq.push(['_trackPageview']);
      (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();
      //]]>
    link(rel='alternate', type='application/rss+xml', title='Football Club » Home Comments Feed', href='http://demo.themeboy.com/footballclub/home/feed/')
    script(type='text/javascript').
      window._wpemojiSettings = {"baseUrl":"http:\\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/demo.themeboy.com\/footballclub\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.5"}};
      !function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    script(src='./Football Club - Official SportsPress Theme_files/wp-emoji-release.min.js', type='text/javascript')
    style(type='text/css').
      img.wp-smiley,
      img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 .07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
      }
    link#dashicons-css(rel='stylesheet', href='./Football Club - Official SportsPress Theme_files/dashicons.min.css', type='text/css', media='all')
    link#sportspress-general-css(rel='stylesheet', href='./Football Club - Official SportsPress Theme_files/sportspress.css', type='text/css', media='all')
    link#stylesheet-css(rel='stylesheet', href='./Football Club - Official SportsPress Theme_files/style.css', type='text/css', media='all')
    link#jquery-fancybox-css(rel='stylesheet', href='./Football Club - Official SportsPress Theme_files/jquery.fancybox-1.3.4.css', type='text/css', media='all')
    link#responsive-stylesheet-css(rel='stylesheet', href='./Football Club - Official SportsPress Theme_files/responsive.css', type='text/css', media='all')
    style(type='text/css').
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery-migrate.min.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/html5shiv.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/widgets(1).js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.themeboy-rotator.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.evenHeights.1.0.0-min.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.easing-1.3.pack.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.mousewheel-3.0.4.pack.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.fancybox-1.3.4.pack.js')
    link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://demo.themeboy.com/footballclub/xmlrpc.php?rsd')
    link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://demo.themeboy.com/footballclub/wp-includes/wlwmanifest.xml')
    meta(name='generator', content='WordPress 4.2.5')
    meta(name='generator', content='SportsPress 1.8.6')
    link(rel='canonical', href='./Football Club - Official SportsPress Theme_files/Football Club - Official SportsPress Theme.html')
    link(rel='shortlink', href='./Football Club - Official SportsPress Theme_files/Football Club - Official SportsPress Theme.html')
    style(type='text/css').
      body,
      .image-rotator .image_thumb ul li .more a,
      .image-rotator .image_thumb ul li .more a:hover,
      .tb_players .gallery-view li .name a,
      ul.tb_matches-sidebar .kickoff time, ul.tb_matches-sidebar .kickoff .score,
      #wrapper, #menu #searchform input#s,
      ul.tb_matches-sidebar .kickoff a,
      #content .sp-calendar .sp-table-caption {
      color: #222222}
      a,
      .highlighted,
      h2.entry-title {
      color: #d4000f;
      }
      a:hover {
      color: #ac0000;
      }
      #header {
      background-image: url(http://demo.themeboy.com/footballclub/wp-content/themes/footballclub/images/header.jpg);
      min-height: 140px;
      }
      #header #maintitle h1,
      #header #maintitle h1 a {
      color: #333333;
      }
      #header #maintitle h2,
      #header #maintitle h2 a {
      color: #d4000f;
      }
      .image-rotator {
      background-color: #f5f5f5;
      }
      .image-rotator .image_thumb ul li,
      .image-rotator .image_thumb ul li .more a {
      color: #333333;
      }
      #wrapper,
      #menu #searchform input#s {
      background-color: #ffffff;
      }
      #sidebar {
      background-color: #f0f0f0;
      }
      .widget-container,
      .sp-tournament-bracket tbody {
      background-color: #ffffff;
      }
      #menu li:hover a,
      #menu li:hover input,
      #menu #searchform input#searchsubmit:hover,
      .image-rotator .image_thumb ul li.active,
      .image-rotator .image_thumb ul li.active a,
      #content section h3,
      #content .sp-table-caption,
      .widget-container .widget-title,
      .contactform .button:hover,
      input[type="submit"]:hover,
      #menu li.current-menu-item a,
      .sp-tournament-bracket thead td {
      color: #ffffff;
      }
      #menu {
      background-color: #333333;
      background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #5b5b5b),
      color-stop(0.3, #333333)
      );
      background-image: -moz-linear-gradient(
      center top,
      #5b5b5b 0%,
      #333333 30%
      );
      }
      #menu li {
      border-right-color: #0b0b0b;
      border-left-color: #5b5b5b;
      }
      #menu li a,
      #menu #searchform input#searchsubmit {
      color: #c3c3c3;
      }
      #menu .menu li:hover {
      background-color: #ca0005;
      background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #fc2837),
      color-stop(0.3, #ca0005),
      color-stop(1, #ca0005)
      );
      background-image: -moz-linear-gradient(
      center top,
      #fc2837 0%,
      #ca0005 30%,
      #ca0005 100%
      );
      border-right-color: #840000;
      border-left-color: #d4000f;
      }
      #menu li ul.children,
      #menu li ul.sub-menu {
      background-color: #ca0005;
      }
      #content section h3,
      #content .sp-table-caption,
      .widget-container .widget-title,
      .tb_players .gallery-view li .number,
      .navigation .nav-previous a:hover,
      .navigation .nav-next a:hover,
      .commentlist .comment .reply a:hover,
      .contactform .button:hover,
      .link-button a:hover,
      input[type="submit"]:hover,
      .sp-tournament-bracket thead th,
      .sp-heading {
      background: #ca0005;
      background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #d4000f),
      color-stop(1, #ac0000)
      );
      background-image: -moz-linear-gradient(
      center top,
      #d4000f 0%,
      #ac0000 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4000f', endColorstr='#ac0000');
      }
      #respond h3 {
      color: #d4000f;
      }
      .image-rotator .image_thumb ul li.active {
      background: #ca0005;
      background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #d4000f),
      color-stop(1, #980000)
      );
      background-image: -moz-linear-gradient(
      center top,
      #d4000f 0%,
      #980000 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4000f', endColorstr='#980000');
      cursor: default;
      border-color: #700000;
      }
      .image-rotator .image_thumb ul li.active .more a:hover {
      color: #ffffff;
      }
      #footer-widgets {
      background-color: #333333;
      }
      #footer-widgets #footer-logo {
      background-image: url(http://demo.themeboy.com/footballclub/wp-content/themes/footballclub/images/footer-logo.png);
      }
      #content .navigation .nav-previous a:hover,
      #content .navigation .nav-next a:hover {
      background: #ca0005;
      background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, #d4000f),
      color-stop(1, #ac0000)
      );
      background-image: -moz-linear-gradient(
      center top,
      #d4000f 0%,
      #ac0000 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4000f', endColorstr='#ac0000');
      }
      #main table tbody tr,
      ul.tb_matches-sidebar li {
      border-color: #ffffff;
      }
      a.tb_view_all,
      a.sp-view-all-link,
      .sp-pagination a {
      color: #727272;
      text-shadow: 1px 1px 0 #ffffff;
      }
      a.tb_view_all:hover,
      a.sp-view-all-link:hover,
      .sp-pagination a {
      color: #222222;
      }
      #sponsors {
      background-color: ;
      }
      .sp-tournament-bracket .sp-highlight {
      background: #ffffff !important
      }
    style#custom-background-css(type='text/css').
      body.custom-background { background-image: url('http://demo.themeboy.com/footballclub/wp-content/themes/footballclub/images/background.jpg'); background-repeat: no-repeat; background-position: top center; background-attachment: scroll; }
    script(type='text/javascript', charset='utf-8', async='', src='./Football Club - Official SportsPress Theme_files/timeline.a75a38b7960939a49c5cb210fbed2da2.js')
    style(type='text/css').
      .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow-x:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
      .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f8;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3a5795;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{width:auto;height:auto;min-height:initial;min-width:initial;background:none}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{color:#fff;display:block;padding-top:20px;clear:both;font-size:18px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #2f477a;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f8;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v2/yD/r/t-wz8gw1xG1.png);background-repeat:no-repeat;background-position:50% 50%;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
      .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://static.xx.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}
  body.home.page.page-id-2.page-template.page-template-template-home.page-template-template-home-php.custom-background
    .sp-header
    #fb-root.fb_reset
      div(style='position: absolute; top: -10000px; height: 0px; width: 0px;')
        div
          iframe#fb_xdm_frame_http(name='fb_xdm_frame_http', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='Facebook Cross Domain Communication Frame', aria-hidden='true', tabindex='-1', src='./Football Club - Official SportsPress Theme_files/wjDNIDNrTQG.html', style='border: none;')
          iframe#fb_xdm_frame_https(name='fb_xdm_frame_https', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='Facebook Cross Domain Communication Frame', aria-hidden='true', tabindex='-1', src='./Football Club - Official SportsPress Theme_files/wjDNIDNrTQG(1).html', style='border: none;')
      div(style='position: absolute; top: -10000px; height: 0px; width: 0px;')
        div
    #wrapper
      header#header
        a#logo(href='http://demo.themeboy.com/footballclub')
          img(src='./Football Club - Official SportsPress Theme_files/logo.png', alt='Football Club')
        hgroup#maintitle
          h1
            a(href='http://demo.themeboy.com/footballclub') Football Club
          h2
            a(href='http://demo.themeboy.com/footballclub') Official SportsPress Theme
        .clear
      nav#menu.clearfix
        .menu-header
          ul#menu-main-menu.menu
            li#menu-item-396.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-2.current_page_item.menu-item-396
              a(href='./Football Club - Official SportsPress Theme_files/Football Club - Official SportsPress Theme.html') Home
            li#menu-item-597.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-597
              a(href='http://demo.themeboy.com/footballclub/category/blog/') News
            li#menu-item-705.menu-item.menu-item-type-post_type.menu-item-object-sp_list.menu-item-has-children.menu-item-705
              a(href='http://demo.themeboy.com/footballclub/list/first-team/') First Team
              ul.sub-menu
                li#menu-item-691.menu-item.menu-item-type-post_type.menu-item-object-sp_list.menu-item-691
                  a(href='http://demo.themeboy.com/footballclub/list/team-roster/') Team Roster
                li#menu-item-398.menu-item.menu-item-type-post_type.menu-item-object-sp_staff.menu-item-398
                  a(href='http://demo.themeboy.com/footballclub/staff/bobby-brown/') Staff
                li#menu-item-645.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-has-children.menu-item-645
                  a(href='http://demo.themeboy.com/footballclub/table/primary-league/') Standings
                  ul.sub-menu
                    li#menu-item-665.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-665
                      a(href='http://demo.themeboy.com/footballclub/table/2013-season-results/') 2013 Season Results
                    li#menu-item-667.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-667
                      a(href='http://demo.themeboy.com/footballclub/table/2012-season-results/') 2012 Season Results
                    li#menu-item-669.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-669
                      a(href='http://demo.themeboy.com/footballclub/table/2011-season-results/') 2011 Season Results
            li#menu-item-706.menu-item.menu-item-type-post_type.menu-item-object-sp_list.menu-item-has-children.menu-item-706
              a(href='http://demo.themeboy.com/footballclub/list/reserve-team-gallery/') Reserve Team
              ul.sub-menu
                li#menu-item-643.menu-item.menu-item-type-post_type.menu-item-object-sp_list.menu-item-643
                  a(href='http://demo.themeboy.com/footballclub/list/team-roster/') Reserve Team Roster
                li#menu-item-644.menu-item.menu-item-type-post_type.menu-item-object-sp_staff.menu-item-644
                  a(href='http://demo.themeboy.com/footballclub/staff/bill-belichick/') Reserve Staff
                li#menu-item-661.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-has-children.menu-item-661
                  a(href='http://demo.themeboy.com/footballclub/table/secondary-league-table/') Reserve Standings
                  ul.sub-menu
                    li#menu-item-673.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-673
                      a(href='http://demo.themeboy.com/footballclub/table/2013-season-results-2/') 2013 Season Results
                    li#menu-item-674.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-674
                      a(href='http://demo.themeboy.com/footballclub/table/2012-season-results-2/') 2012 Season Results
                    li#menu-item-675.menu-item.menu-item-type-post_type.menu-item-object-sp_table.menu-item-675
                      a(href='http://demo.themeboy.com/footballclub/table/2011-season-results-2/') 2011 Season Results
            li#menu-item-647.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-647
              a(target='_blank', href='https://www.themeboy.com/footballclub/') About this Theme
            li#menu-item-648.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-648
              a(target='_blank', href='https://app.sellwire.net/p/paypal/RQ', onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://app.sellwire.net']);") Purchase Theme
        select#drop-nav
          option(value='') Select a page...
          |  id="menu-item-396">
          option(value='http://demo.themeboy.com/footballclub/') Home
          |  id="menu-item-597">
          option(value='http://demo.themeboy.com/footballclub/category/blog/') News
          |  id="menu-item-705">
          option(value='http://demo.themeboy.com/footballclub/list/first-team/') First Team
          | 	 id="menu-item-691">
          option(value='http://demo.themeboy.com/footballclub/list/team-roster/')     Team Roster
          | 	 id="menu-item-398">
          option(value='http://demo.themeboy.com/footballclub/staff/bobby-brown/')     Staff
          | 	 id="menu-item-645">
          option(value='http://demo.themeboy.com/footballclub/table/primary-league/')     Standings
          | 		 id="menu-item-665">
          option(value='http://demo.themeboy.com/footballclub/table/2013-season-results/')         2013 Season Results
          | 		 id="menu-item-667">
          option(value='http://demo.themeboy.com/footballclub/table/2012-season-results/')         2012 Season Results
          | 		 id="menu-item-669">
          option(value='http://demo.themeboy.com/footballclub/table/2011-season-results/')         2011 Season Results
          |  id="menu-item-706">
          option(value='http://demo.themeboy.com/footballclub/list/reserve-team-gallery/') Reserve Team
          | 	 id="menu-item-643">
          option(value='http://demo.themeboy.com/footballclub/list/team-roster/')     Reserve Team Roster
          | 	 id="menu-item-644">
          option(value='http://demo.themeboy.com/footballclub/staff/bill-belichick/')     Reserve Staff
          | 	 id="menu-item-661">
          option(value='http://demo.themeboy.com/footballclub/table/secondary-league-table/')     Reserve Standings
          | 		 id="menu-item-673">
          option(value='http://demo.themeboy.com/footballclub/table/2013-season-results-2/')         2013 Season Results
          | 		 id="menu-item-674">
          option(value='http://demo.themeboy.com/footballclub/table/2012-season-results-2/')         2012 Season Results
          | 		 id="menu-item-675">
          option(value='http://demo.themeboy.com/footballclub/table/2011-season-results-2/')         2011 Season Results
          |  id="menu-item-647">
          option(target='_blank', value='https://www.themeboy.com/footballclub/') About this Theme
          |  id="menu-item-648">
          option(target='_blank', value='https://app.sellwire.net/p/paypal/RQ') Purchase Theme
        form#searchform(role='search', method='get', action='./Football Club - Official SportsPress Theme_files/Football Club - Official SportsPress Theme.html')
          ul
            li.query
              input#s(type='text', value='', name='s')
            li
              input#searchsubmit(type='submit', value='Search')
      #main.clearfix
        .featured-rotator.image-rotator
          .main_image
            ul
              li(data-slide='0', style='display: none; z-index: 27;')
                a(href='http://demo.themeboy.com/footballclub/2014/05/19/lowes-radcliffe-and-peterson-called-up/')
                  img.attachment-featured-image.wp-post-image(width='640', height='360', src='./Football Club - Official SportsPress Theme_files/blog-1-1-640x360.jpg', alt='blog-1-1', title='Lowes, Radcliffe, and Peterson called up')
                .desc(style='display: block;')
                  .block(style='opacity: 0; margin-bottom: -48px;')
                    h3.ellipsis
                      a(href='http://demo.themeboy.com/footballclub/2014/05/19/lowes-radcliffe-and-peterson-called-up/') Lowes, Radcliffe, and Peterson called up
                    time
                      a(href='http://demo.themeboy.com/footballclub/2014/05/19/lowes-radcliffe-and-peterson-called-up/') May 19, 2014
              li(data-slide='1', style='display: none; z-index: 28;')
                a(href='http://demo.themeboy.com/footballclub/2014/05/19/brown-impressed-by-brough/')
                  img.attachment-featured-image.wp-post-image(width='640', height='360', src='./Football Club - Official SportsPress Theme_files/blog-6-1-640x360.jpg', alt='blog-6-1', title='Brown impressed by Brough')
                .desc(style='display: block;')
                  .block(style='opacity: 0; margin-bottom: -48px;')
                    h3.ellipsis
                      a(href='http://demo.themeboy.com/footballclub/2014/05/19/brown-impressed-by-brough/') Brown impressed by Brough
                    time
                      a(href='http://demo.themeboy.com/footballclub/2014/05/19/brown-impressed-by-brough/') May 19, 2014
              li(data-slide='2', style='display: none; z-index: 29;')
                a(href='http://demo.themeboy.com/footballclub/2014/04/19/eagles-in-the-wordpress-cup/')
                  img.attachment-featured-image.wp-post-image(width='640', height='360', src='./Football Club - Official SportsPress Theme_files/blog-3-1-640x360.jpg', alt='blog-3-1', title='Eagles in the WordPress Cup')
                .desc(style='display: block;')
                  .block(style='opacity: 0; margin-bottom: -48px;')
                    h3.ellipsis
                      a(href='http://demo.themeboy.com/footballclub/2014/04/19/eagles-in-the-wordpress-cup/') Eagles in the WordPress Cup
                    time
                      a(href='http://demo.themeboy.com/footballclub/2014/04/19/eagles-in-the-wordpress-cup/') April 19, 2014
              li(data-slide='3', style='display: none; z-index: 30;')
                a(href='http://demo.themeboy.com/footballclub/2014/04/02/the-future-of-essendon/')
                  img.attachment-featured-image.wp-post-image(width='640', height='360', src='./Football Club - Official SportsPress Theme_files/blog-4-1-640x360.jpg', alt='blog-4-1', title='The future of Essendon')
                .desc(style='display: block;')
                  .block(style='opacity: 0; margin-bottom: -48px;')
                    h3.ellipsis
                      a(href='http://demo.themeboy.com/footballclub/2014/04/02/the-future-of-essendon/') The future of Essendon
                    time
                      a(href='http://demo.themeboy.com/footballclub/2014/04/02/the-future-of-essendon/') April 2, 2014
              li(data-slide='4', style='display: list-item; z-index: 29;')
                a(href='http://demo.themeboy.com/footballclub/2014/03/22/lineup-announced/')
                  img.attachment-featured-image.wp-post-image(width='640', height='360', src='./Football Club - Official SportsPress Theme_files/blog-5-1-640x360.jpg', alt='blog-5-1', title='Lineup Announced')
                .desc(style='display: block;')
                  .block(style='opacity: 1; margin-bottom: 0px;')
                    h3.ellipsis
                      a(href='http://demo.themeboy.com/footballclub/2014/03/22/lineup-announced/') Lineup Announced
                    time
                      a(href='http://demo.themeboy.com/footballclub/2014/03/22/lineup-announced/') March 22, 2014
          .image_thumb
            ul
              li(data-permalink='http://demo.themeboy.com/footballclub/2014/05/19/lowes-radcliffe-and-peterson-called-up/', data-slide='0')
                a
                  img.attachment-side-image.wp-post-image(width='50', height='50', src='./Football Club - Official SportsPress Theme_files/blog-1-1-50x50.jpg', alt='blog-1-1', title='Lowes, Radcliffe, and Peterson called up')
                .block
                  h3.ellipsis Lowes, Radcliffe, and Peterson called up
                  time May 19, 2014
                .more
                  a(href='http://demo.themeboy.com/footballclub/2014/05/19/lowes-radcliffe-and-peterson-called-up/') Read More
              li(data-permalink='http://demo.themeboy.com/footballclub/2014/05/19/brown-impressed-by-brough/', data-slide='1')
                a
                  img.attachment-side-image.wp-post-image(width='50', height='50', src='./Football Club - Official SportsPress Theme_files/blog-6-1-50x50.jpg', alt='blog-6-1', title='Brown impressed by Brough')
                .block
                  h3.ellipsis Brown impressed by Brough
                  time May 19, 2014
                .more
                  a(href='http://demo.themeboy.com/footballclub/2014/05/19/brown-impressed-by-brough/') Read More
              li(data-permalink='http://demo.themeboy.com/footballclub/2014/04/19/eagles-in-the-wordpress-cup/', data-slide='2')
                a
                  img.attachment-side-image.wp-post-image(width='50', height='50', src='./Football Club - Official SportsPress Theme_files/blog-3-1-50x50.jpg', alt='blog-3-1', title='Eagles in the WordPress Cup')
                .block
                  h3.ellipsis Eagles in the WordPress Cup
                  time April 19, 2014
                .more
                  a(href='http://demo.themeboy.com/footballclub/2014/04/19/eagles-in-the-wordpress-cup/') Read More
              li(data-permalink='http://demo.themeboy.com/footballclub/2014/04/02/the-future-of-essendon/', data-slide='3')
                a
                  img.attachment-side-image.wp-post-image(width='50', height='50', src='./Football Club - Official SportsPress Theme_files/blog-4-1-50x50.jpg', alt='blog-4-1', title='The future of Essendon')
                .block
                  h3.ellipsis The future of Essendon
                  time April 2, 2014
                .more
                  a(href='http://demo.themeboy.com/footballclub/2014/04/02/the-future-of-essendon/') Read More
              li.active(data-permalink='http://demo.themeboy.com/footballclub/2014/03/22/lineup-announced/', data-slide='4')
                a
                  img.attachment-side-image.wp-post-image(width='50', height='50', src='./Football Club - Official SportsPress Theme_files/blog-5-1-50x50.jpg', alt='blog-5-1', title='Lineup Announced')
                .block
                  h3.ellipsis Lineup Announced
                  time March 22, 2014
                .more
                  a(href='http://demo.themeboy.com/footballclub/2014/03/22/lineup-announced/') Read More
        script(type='text/javascript').
          (function($) {
          $('.image-rotator').rotator({
          'delay' : 4000
          });
          })(jQuery);
        #container
          #content(role='main')
            ul.home-widgets.content-left
              .sp-widget-align-none
                li#sportspress-event-blocks-2.widget-container.widget_sp_event_blocks
                  h3.widget-title Fixtures
                  .sp-template.sp-template-event-blocks
                    .sp-table-wrapper
                      table.sp-event-blocks.sp-data-table.sp-paginated-table(data-sp-rows='10')
                        thead
                          tr
                            th
                        tbody
                          tr.sp-row.sp-post.alternate
                            td
                              img.team-logo.logo-odd.wp-post-image(width='113', height='128', src='./Football Club - Official SportsPress Theme_files/foxes-113x128.png', alt='foxes')
                              img.team-logo.logo-even.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              time.sp-event-date(datetime='2015-11-20 16:30:00') November 20, 2015
                              h5.sp-event-time 4:30 pm
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/571/') Fitzroy vs Essendon
                          tr.sp-row.sp-post
                            td
                              img.team-logo.logo-odd.wp-post-image(width='98', height='128', src='./Football Club - Official SportsPress Theme_files/bulls-98x128.png', alt='bulls')
                              img.team-logo.logo-even.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              time.sp-event-date(datetime='2015-11-24 11:30:00') November 24, 2015
                              h5.sp-event-time 11:30 am
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/551/') Brighton vs Essendon
                          tr.sp-row.sp-post.alternate
                            td
                              img.team-logo.logo-odd.wp-post-image(width='113', height='128', src='./Football Club - Official SportsPress Theme_files/budgies-113x128.png', alt='budgies')
                              img.team-logo.logo-even.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              time.sp-event-date(datetime='2015-11-29 14:00:00') November 29, 2015
                              h5.sp-event-time 2:00 pm
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/558/') Bundoora vs Essendon
                          tr.sp-row.sp-post
                            td
                              img.team-logo.logo-odd.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              img.team-logo.logo-even.wp-post-image(width='128', height='106', src='./Football Club - Official SportsPress Theme_files/sharks-128x106.png', alt='sharks')
                              time.sp-event-date(datetime='2015-12-01 12:30:00') December 1, 2015
                              h5.sp-event-time 12:30 pm
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/564/') Essendon vs Southbank
            ul.home-widgets.content-right
              .sp-widget-align-none
                li#sportspress-event-blocks-3.widget-container.widget_sp_event_blocks
                  h3.widget-title Results
                  .sp-template.sp-template-event-blocks
                    .sp-table-wrapper
                      table.sp-event-blocks.sp-data-table.sp-paginated-table(data-sp-rows='10')
                        thead
                          tr
                            th
                        tbody
                          tr.sp-row.sp-post.alternate
                            td
                              img.team-logo.logo-odd.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              img.team-logo.logo-even.wp-post-image(width='113', height='128', src='./Football Club - Official SportsPress Theme_files/budgies-113x128.png', alt='budgies')
                              time.sp-event-date(datetime='2013-01-20 14:00:00') January 20, 2013
                              h5.sp-event-results 4 - 2
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/426/') Essendon vs Bundoora
                          tr.sp-row.sp-post
                            td
                              img.team-logo.logo-odd.wp-post-image(width='113', height='128', src='./Football Club - Official SportsPress Theme_files/budgies-113x128.png', alt='budgies')
                              img.team-logo.logo-even.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              time.sp-event-date(datetime='2013-01-21 14:00:00') January 21, 2013
                              h5.sp-event-results 2 - 2
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/472/') Bundoora vs Essendon
                          tr.sp-row.sp-post.alternate
                            td
                              img.team-logo.logo-odd.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              img.team-logo.logo-even.wp-post-image(width='128', height='128', src='./Football Club - Official SportsPress Theme_files/rams-128x128.png', alt='rams')
                              time.sp-event-date(datetime='2013-01-22 14:00:00') January 22, 2013
                              h5.sp-event-results 4 - 2
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/463/') Essendon vs Richmond
                          tr.sp-row.sp-post
                            td
                              img.team-logo.logo-odd.wp-post-image(width='128', height='106', src='./Football Club - Official SportsPress Theme_files/sharks-128x106.png', alt='sharks')
                              img.team-logo.logo-even.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                              time.sp-event-date(datetime='2013-02-16 12:30:00') February 16, 2013
                              h5.sp-event-results 2 - 3
                              h4.sp-event-title
                                a(href='http://demo.themeboy.com/footballclub/event/462/') Southbank vs Essendon
            .clear
            ul.home-widgets
              .sp-widget-align-none
                li#sportspress-league-table-2.widget-container.widget_league_table.widget_sp_league_table
                  h3.widget-title League Table
                  section
                    .sp-template.sp-template-league-table
                      h4.sp-table-caption Season Standings
                      .sp-table-wrapper
                        #DataTables_Table_0_wrapper.dataTables_wrapper.no-footer
                          .sp-scrollable-table-wrapper
                            table#DataTables_Table_0.sp-league-table.sp-data-table.sp-sortable-table.sp-scrollable-table.sp-paginated-table.dataTable.no-footer(data-sp-rows='10', role='grid')
                              thead
                                tr(role='row')
                                  th.data-rank.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='Pos') Pos
                                  th.data-name.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='Team') Team
                                  th.data-p.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='P') P
                                  th.data-w.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='W') W
                                  th.data-d.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='D') D
                                  th.data-l.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='L') L
                                  th.data-f.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='F') F
                                  th.data-a.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='A') A
                                  th.data-gd.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='GD') GD
                                  th.data-pts.sorting(tabindex='0', aria-controls='DataTables_Table_0', rowspan='1', colspan='1', aria-label='Pts') Pts
                              tbody
                                tr.highlighted.odd(role='row')
                                  td.data-rank.sp-highlight 1
                                  td.data-name.has-logo.sp-highlight
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='105', height='128', src='./Football Club - Official SportsPress Theme_files/eagles-105x128.png', alt='eagles')
                                    | Essendon
                                  td.data-p.sp-highlight 38
                                  td.data-w.sp-highlight 27
                                  td.data-d.sp-highlight 5
                                  td.data-l.sp-highlight 6
                                  td.data-f.sp-highlight 102
                                  td.data-a.sp-highlight 37
                                  td.data-gd.sp-highlight 65
                                  td.data-pts.sp-highlight 86
                                tr.even(role='row')
                                  td.data-rank 2
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='128', height='128', src='./Football Club - Official SportsPress Theme_files/rams-128x128.png', alt='rams')
                                    | Richmond
                                  td.data-p 38
                                  td.data-w 26
                                  td.data-d 6
                                  td.data-l 6
                                  td.data-f 101
                                  td.data-a 50
                                  td.data-gd 51
                                  td.data-pts 84
                                tr.odd(role='row')
                                  td.data-rank 3
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='128', height='123', src='./Football Club - Official SportsPress Theme_files/crocodiles-128x123.png', alt='crocodiles')
                                    | Caulfield
                                  td.data-p 38
                                  td.data-w 25
                                  td.data-d 7
                                  td.data-l 6
                                  td.data-f 71
                                  td.data-a 27
                                  td.data-gd 44
                                  td.data-pts 82
                                tr.even(role='row')
                                  td.data-rank 4
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='118', height='128', src='./Football Club - Official SportsPress Theme_files/flamingos-118x128.png', alt='flamingos')
                                    | Flemington
                                  td.data-p 38
                                  td.data-w 24
                                  td.data-d 7
                                  td.data-l 7
                                  td.data-f 68
                                  td.data-a 41
                                  td.data-gd 27
                                  td.data-pts 79
                                tr.odd(role='row')
                                  td.data-rank 5
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='108', height='128', src='./Football Club - Official SportsPress Theme_files/seahorses-108x128.png', alt='seahorses')
                                    | Sandringham
                                  td.data-p 38
                                  td.data-w 21
                                  td.data-d 9
                                  td.data-l 8
                                  td.data-f 61
                                  td.data-a 39
                                  td.data-gd 22
                                  td.data-pts 72
                                tr.even(role='row')
                                  td.data-rank 6
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='113', height='128', src='./Football Club - Official SportsPress Theme_files/foxes-113x128.png', alt='foxes')
                                    | Fitzroy
                                  td.data-p 38
                                  td.data-w 21
                                  td.data-d 6
                                  td.data-l 11
                                  td.data-f 55
                                  td.data-a 43
                                  td.data-gd 4
                                  td.data-pts 69
                                tr.odd(role='row')
                                  td.data-rank 7
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='111', height='128', src='./Football Club - Official SportsPress Theme_files/dragons-111x128.png', alt='dragons')
                                    | Doncaster
                                  td.data-p 38
                                  td.data-w 19
                                  td.data-d 7
                                  td.data-l 12
                                  td.data-f 64
                                  td.data-a 46
                                  td.data-gd 21
                                  td.data-pts 64
                                tr.even(role='row')
                                  td.data-rank 8
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='116', height='128', src='./Football Club - Official SportsPress Theme_files/lizards-116x128.png', alt='lizards')
                                    | Lysterfield
                                  td.data-p 38
                                  td.data-w 15
                                  td.data-d 11
                                  td.data-l 12
                                  td.data-f 54
                                  td.data-a 52
                                  td.data-gd 8
                                  td.data-pts 56
                                tr.odd(role='row')
                                  td.data-rank 9
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='123', height='128', src='./Football Club - Official SportsPress Theme_files/kangaroos-123x128.png', alt='kangaroos')
                                    | Roos
                                  td.data-p 38
                                  td.data-w 13
                                  td.data-d 11
                                  td.data-l 14
                                  td.data-f 45
                                  td.data-a 59
                                  td.data-gd -7
                                  td.data-pts 50
                                tr.even(role='row')
                                  td.data-rank 10
                                  td.data-name.has-logo
                                    span.team-logo
                                      img.attachment-sportspress-fit-icon.wp-post-image(width='128', height='123', src='./Football Club - Official SportsPress Theme_files/bluebirds-128x123.png', alt='bluebirds')
                                    | Bentleigh
                                  td.data-p 38
                                  td.data-w 15
                                  td.data-d 4
                                  td.data-l 19
                                  td.data-f 43
                                  td.data-a 48
                                  td.data-gd -16
                                  td.data-pts 49
                      a.sp-league-table-link.sp-view-all-link(href='http://demo.themeboy.com/footballclub/table/primary-league/') View full table
          // #content
        // #container
        #sidebar
          #primary.widget-area(role='complementary')
            ul.xoxo
              li#text-6.widget-container.widget_text
                h3.widget-title Football Club Video
                .textwidget
                  iframe(src='./Football Club - Official SportsPress Theme_files/31649409.html', width='318', height='175', frameborder='0')
              li#facebook.widget-container
                h3.widget-title Find us on Facebook
                #fb-root
                script(src='./Football Club - Official SportsPress Theme_files/all(1).js')
                fb:like-box.fb_iframe_widget(href='http://facebook.com/themeboy', width='318', colorscheme='light', show_faces='false', border_color='#fff', stream='false', header='false', fb-xfbml-state='rendered', fb-iframe-plugin-query='app_id=&color_scheme=light&container_width=0&header=false&href=http%3A%2F%2Ffacebook.com%2Fthemeboy&locale=en_US&sdk=joey&show_faces=false&stream=false&width=318')
                  span(style='vertical-align: bottom; width: 318px; height: 70px;')
                    iframe(name='f2025ead', width='318px', height='1000px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:like_box Facebook Social Plugin', src='./Football Club - Official SportsPress Theme_files/like_box.html', style='border: none; visibility: visible; width: 318px; height: 70px;')
              li#tb_ground-widget.widget-container
                h3.widget-title Ground Status
                .tb_ground_status_display Grounds Open
              li#tb_twitter-2.widget-container.twitter-widget
                h3.widget-title Twitter
                iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered(scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true', style='position: static; visibility: visible; display: inline-block; width: 100%; height: 381px; padding: 0px; border: none; max-width: 520px; min-width: 180px; margin-top: 0px; margin-bottom: 0px;', data-widget-id='345224689221771264', data-user-id='306528167', title='Twitter Timeline')
          // #primary .widget-area
        // #sidebar
      // #main
      #footer-widgets.clearfix(role='contentinfo')
        #colophon
          #footer-widget-area(role='complementary')
            #footer-logo.widget-area
            #first.widget-area
              ul.xoxo
                li#text-8.widget-container.widget_text
                  h3.widget-title Address
                  .textwidget
                    p 123 WordPress Avenue, ThemeBoy City, VIC Australia 3000
                li#text-7.widget-container.widget_text
                  h3.widget-title Contact
                  .textwidget
                    p
                      | Phone: (+61) 555-555-6789
                      br
                      | Email: 
                      a(href='mailto:demo@themeboy.com') demo@themeboy.com
            // #first .widget-area
            #second.widget-area
              ul.xoxo
                li#text-9.widget-container.widget_text
                  h3.widget-title Football Club for SportsPress
                  .textwidget
                    p
                      | This demo was created using a premium website template.
                      br
                      | Introducing Football Club for SportsPress
                      br
                      | the best way to get your soccer team online.
                    p
                      | Visit 
                      a(href='https://themeboy.com/products/footballclub/') https://themeboy.com/products/footballclub/
                      |  for more details.
            // #second .widget-area
          // #footer-widget-area
        // #colophon
      // #footer-widgets
    // #wrapper
    footer.clearfix
      .left © 2015 Football Club
      .right
        | Designed by 
        a(href='http://themeboy.com/', target='_blank') ThemeBoy
      ul#social
        li.facebook
          a(href='http://facebook.com/themeboy', title='Facebook', target='_blank') Facebook
        li.twitter
          a(href='http://twitter.com/themeboy', title='Twitter', target='_blank') Twitter
        li.pinterest
          a(href='http://pinterest.com/themeboy', title='Pinterest', target='_blank') Pinterest
        li.linkedin
          a(href='http://linkedin.com/company/themeboy', title='LinkedIn', target='_blank') LinkedIn
        li.gplus
          a(href='http://gplus.to/themeboy', title='Google+', target='_blank') Google+
        li.youtube
          a(href='http://youtube.com/themeboyteam', title='YouTube', target='_blank') YouTube
        li.vimeo
          a(href='http://vimeo.com/themeboy', title='Vimeo', target='_blank') Vimeo
    link#adminbar-stylesheet-css(rel='stylesheet', href='./Football Club - Official SportsPress Theme_files/adminbar.css', type='text/css', media='all')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/comment-reply.min.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.dataTables.min.js')
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/jquery.countdown.min.js')
    script(type='text/javascript').
      /* <![CDATA[ */
      var localized_strings = {"days":"days","hrs":"hrs","mins":"mins","secs":"secs","previous":"Previous","next":"Next"};
      /* ]]> */
    script(type='text/javascript', src='./Football Club - Official SportsPress Theme_files/sportspress.js')
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_CA/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    script(type='text/javascript').
      (function($) {
      // drop nav
      $('#drop-nav').change(function() {
      window.location = $(this).val();
      });
      // fancybox all image links
      $('a').each(function() {
      var self = this;
      var file =  $(self).attr('href');
      if (file) {
      var extension = file.substr( (file.lastIndexOf('.') +1) );
      switch(extension) {
      case 'jpg':
      case 'png':
      case 'gif':
      $(self).fancybox({
      'overlayColor' : '#fff'
      });
      }
      }
      });
      })(jQuery);
    //
      Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/
      Page Caching using disk: enhanced
      Database Caching 15/246 queries in 0.094 seconds using disk
      Object Caching 4369/5065 objects using disk
      Served from: demo.themeboy.com @ 2015-11-15 18:43:19 by W3 Total Cache 
    #fancybox-tmp
    #fancybox-loading
      div
    #fancybox-overlay
    #fancybox-wrap
      #fancybox-outer
        #fancybox-bg-n.fancybox-bg
        #fancybox-bg-ne.fancybox-bg
        #fancybox-bg-e.fancybox-bg
        #fancybox-bg-se.fancybox-bg
        #fancybox-bg-s.fancybox-bg
        #fancybox-bg-sw.fancybox-bg
        #fancybox-bg-w.fancybox-bg
        #fancybox-bg-nw.fancybox-bg
        #fancybox-content
        a#fancybox-close
        #fancybox-title
        a#fancybox-left(href='javascript:;')
          span#fancybox-left-ico.fancy-ico